<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.kw.kakao">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Chatting.ChattingActivity"></activity>
        <activity
            android:name=".EditNameActivity"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:name=".ProfileEditActivity" />
        <activity android:name=".MyProfileActivity" />
        <activity android:name=".Activity.FfriendProfileActivity" />
        <activity android:name=".Activity.WelcomeActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.JoinMember" />
        <activity android:name=".Activity.Loading" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>